* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.center {
    max-width: 1400px;
    margin: 0 auto;
}

/* Inicio do HEADER */

header {
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    width: 236px;
}

header > nav {
    width: 50%;
} 

header > nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

header li {
    padding: 1%;
}

header > nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    color: gray;
}

/* Inicio do PHOTOGRID */

section.photogrid {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

section.photogrid .photogrid-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.photogrid .img {
    flex: 1;
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
    background-color: #ccc;
    border: 5px solid white;
    transition: 1s;
}

section.photogrid .img:hover {
    flex: 2;
    padding-top: calc(100% / 5); 
}

/* inicio do SERVICOS */

section.servicos {
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.servicos div:nth-child(1), section.servicos div:nth-child(3) {
    width: 30%;
    padding: 4% 2%;
    background-color: #576975;
    background-image: url("../img/icone_dente.png");
    background-size: 14px;
    background-position: center 90%;
    background-repeat: no-repeat;
}

section.servicos div:nth-child(2) {
    width: 40%;
    padding: 8% 2%;
    background-color: #688293;
}


