* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.center {
    max-width: 1400px;
    margin: 0 auto;
}

/* Inicio do HEADER */

header {
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    width: 236px;
}

header > .menu-desktop {
    width: calc(80% - 236px);
} 

header > .menu-desktop > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

header .menu-desktop li {
    text-align: center;
    width: 100%;
    padding: 1%;
}

header .menu-desktop a {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}

header .menu-mobile {
    width: 20%;
    display: none;
    background-image: url("../img/menu-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Inicio do PHOTOGRID */

section.photogrid {
    display: flex;
    flex-flow: column wrap;
}

section.photogrid .photogrid-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

section.photogrid .img {
    flex: 1;
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid white;
    transition: 1s;
}

section.photogrid .img:hover {
    flex: 2;
    padding-top: calc(100% / 5); 
}

.img0 {
    background-image: url("../img/img.jpg");
}

.img1 {
    background-image: url("../img/img1.jpg");
}

.img2 {
    background-image: url("../img/img2.jpeg");
}

.img3 {
    background-image: url("../img/img3.jpg");
}

.img4 {
    background-image: url("../img/img4.jpg");
}

.img5 {
    background-image: url("../img/img5.jpg");
}

.img6 {
    background-image: url("../img/img6.jpg");
}

.img7 {
    background-image: url("../img/img7.jpg");
}

.img8 {
    background-image: url("../img/img8.png");
}

.img9 {
    background-image: url("../img/img9.jpg");
}

.img10 {
    background-image: url("../img/img10.jpg");
}

.img11 {
    background-image: url("../img/img11.jpg");
}


/* inicio do SERVICOS */

section.servicos {
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section.servicos div:nth-child(1), section.servicos div:nth-child(3) {
    width: 30%;
    padding: 4% 2%;
    background-color: #576975;
    background-image: url("../img/icone_dente.png");
    background-size: 14px;
    background-position: center 90%;
    background-repeat: no-repeat;
}

section.servicos div:nth-child(2) {
    width: 40%;
    padding: 6% 2%;
    background-color: #688293;
}

section.servicos h2 {
    font-weight: normal;
}
/* Inicio do PERFIL */

section.perfil {
    padding: 40px 2%;
}

section.perfil .center {
    max-width: 800px;
}

section.perfil .perfil-wrapper {
    padding-top: 50%;
    position: relative;
}

section.perfil .perfil-flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

section.perfil .perfil-img {
    width: 40%;
    height: 100%;
    background-image: url("../img/img_perfil.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section.perfil .perfil-texto {
    width: 60%; 
    padding: 0 30px;
}

section.perfil .perfil-texto h2 {
    font-size: 18px;
    color: #698293;
}

section.perfil .perfil-texto p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
}

/* Inicio dos VÃDEOS */

section.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}

section.videos .video-container {
    width: 33.3%;
    position: relative;
    padding-top: 30%;
}

section.videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
}

/* Inicio TRATAMENTOS  */

section.tratamentos {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 2%;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.2);
}

section.tratamentos .tratamento-container {
    width: 33.3%;
    padding: 10px;
}

section.tratamentos .tratamento-container h2 {
    font-size: 18px;
    color: #698293;
}

section.tratamentos .tratamento-container p {
    color: #4b4b4b;
    font-size: 13px;
    margin-top: 8px;
}

/* Inicio dos DEPOIMENTOS */

section.depoimentos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px 2%;
    text-align: center;
}

section.depoimentos .depoimento {
    width: 33.3%;
}

section.depoimentos .depoimento h2 {
    font-size: 18px;
    color: #698293;
}

section.depoimentos .depoimento quote {
    font-size: 15px;
    color: #4b4b4b;
    margin-top: 8px;
}

section.depoimentos .depoimento-container{
    width: 100%;
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
}

section.depoimentos .depoimento-container p {
    font-size: 14px;
    color: #4b4b4b;
}

section.depoimentos .depoimento-imagem {
    margin: 10px;
    width: 32px;
    height: 32px;
    background-image: url("../img/depoimento1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Inicio do SOCIAL */

section.social {
    padding: 30px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #98a5ae;
}

section.social .social-instagram {
    width: 32px;
    height: 32px;
    background-image: url("../img/inst.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

section.social .social-facebook {
    width: 32px;
    height: 32px;
    background-image: url("../img/fb.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 4px;
}

section.facebook {
    background-color: #576975;
}

section.social p {
    color: white;
    margin-top: 8px;
    font-size: 13px;
}

/* Inicio da SOCIAL-FOTOS */

section.social-fotos {
    width: 100%;
    display: flex;
}

section.social-fotos .social-fotos-imagem {
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
    border: 5px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Inicio do CONTATO */

section.contato {
    padding: 30px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contato.center {
    max-width: 600px;
    margin: 0 auto;
}

section.contato form {
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section.contato .input-wrapper {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

section.contato .email {
    width: 50%;
}

section.contato .telefone {
    width: 50%;
}

section.contato .input-wrapper label {
    font-size: 13px;
}

section.contato .input-wrapper input[type="text"] {
    padding-left: 8px;
    border: 1px solid #dadada;
    line-height: 34px;
    margin-top: 8px;
}

section.contato .input-wrapper textarea {
    resize: none;
    border: 1px solid #dadada;
    padding: 8px;
    margin-top: 8px;
}

section.contato input[type="button"] {
    width: 25%;
    height: 34px;
    border: 0;
    background-color: #688293;
    color: white;
    margin-top: 8px;
}

/* Inicio do FOOTER */

footer {
    background-color: #688293;
    padding: 30px 2%;
    display: flex;
}

footer div {
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer div p {
    margin-top: 8px;
}

/* Inicio das MEDIA QUERIES */

@media screen and (max-width: 870px) {
    header > .menu-desktop {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    header > .menu-desktop {
        display: none;
    }

    header .menu-mobile {
        width: 32px;
        height: 32px;
        position: relative;
        display: flex;
        cursor: pointer;
    }
}

@media screen and (max-width: 680px) {
    section.servicos {
        max-width: 800px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    section.servicos div:nth-child(1), section.servicos div:nth-child(3) {
        width: 60%;
        padding: 2% 2% 6% 2%;
        border: 1px solid #dadada;
        background-position: center 95%;
    }
    
    section.servicos div:nth-child(2) {
        width: 80%;
        padding: 5% 2%;
    }

    section.perfil .perfil-texto {
        width: 60%; 
        padding: 0 15px;
    }

    section.perfil .perfil-texto p {
        color: #4b4b4b;
        font-size: 12px;
        margin-top: 4px;
    }

    section.tratamentos .tratamento-container {
        width: 100%;
        text-align: center; 
    }

    section.tratamentos .tratamento-container p {
        width: 50%;
        margin: 0 auto;
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }

    section.depoimentos .depoimento {
        width: 50%;
    }

    section.videos .video-container {
        width: 50%;
    }

    section.social-fotos {
        flex-wrap: wrap;
    }
    
    section.social-fotos .social-fotos-imagem {
        width: calc(100% / 3);
        padding-top: calc(100% / 3);
    }
}

@media screen and (max-width: 580px) {
    section.perfil .perfil-wrapper {
        padding-top: 0;
    }
    
    section.perfil .perfil-flex {
        position: static;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    
    section.perfil .perfil-img {
        width: 60%;
        padding-top: 80%;
        display: inline-block;
        background-image: url("../img/img_perfil.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    section.perfil .perfil-texto {
        width: 80%; 
        padding: 0 30px;
        text-align: justify;
    }
    
    section.tratamentos .tratamento-container p {
        width: 100%;
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }

    section.depoimentos .depoimento {
        width: 100%;
    }

    section.videos .video-container {
        width: 80%;
        padding-top: 50%;
    }

}