* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.center {
    max-width: 1400px;
    margin: 0 auto;
}

/* Inicio do HEADER */

header {
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    width: 236px;
}

header > .menu-desktop {
    width: calc(80% - 236px);
} 

header > .menu-desktop > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

header .menu-desktop li {
    text-align: center;
    width: 100%;
    padding: 1%;
}

header .menu-desktop a {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}

header .menu-mobile {
    width: 20%;
    display: none;
    background-image: url("../img/menu-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* Inicio do PHOTOGRID */

section.photogrid {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

section.photogrid .photogrid-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section.photogrid .img {
    flex: 1;
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
    background-color: #ccc;
    border: 5px solid white;
    transition: 1s;
}

section.photogrid .img:hover {
    flex: 2;
    padding-top: calc(100% / 5); 
}

/* inicio do SERVICOS */

section.servicos {
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.servicos div:nth-child(1), section.servicos div:nth-child(3) {
    width: 30%;
    padding: 4% 2%;
    background-color: #576975;
    background-image: url("../img/icone_dente.png");
    background-size: 14px;
    background-position: center 90%;
    background-repeat: no-repeat;
}

section.servicos div:nth-child(2) {
    width: 40%;
    padding: 8% 2%;
    background-color: #688293;
}

/* Inicio do PERFIL */

section.perfil {
    padding: 40px 0;
}

section.perfil .center {
    max-width: 800px;
}

section.perfil .perfil-wrapper {
    padding-top: 50%;
    position: relative;
}

section.perfil .perfil-flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

section.perfil .perfil-img {
    width: 40%;
    height: 100%;
    background-image: url("../img/img_perfil.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section.perfil .perfil-texto {
    width: 60%; 
    padding: 0 30px;
}

section.perfil .perfil-texto h2 {
    font-size: 18px;
    color: #698293;
}

section.perfil .perfil-texto p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
}

/* Inicio dos VÃDEOS */

section.videos {
    display: flex;
    padding: 30px 0;
}

section.videos .video-container {
    width: 33.3%;
    position: relative;
    padding-top: 25%;
}

section.videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
}

/* Inicio TRATAMENTOS  */

section.tratamentos {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(204, 204, 204, 0.2);
}

section.tratamentos .tratamento-container {
    width: 33.3%;
    padding: 10px;
}

section.tratamentos .tratamento-container h2 {
    font-size: 18px;
    color: #698293;
}

section.tratamentos .tratamento-container p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
}


/* Inicio das MEDIA QUERIES */

@media screen and (max-width: 870px) {
    header > .menu-desktop {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    header > .menu-desktop {
        display: none;
    }

    header .menu-mobile {
        width: 32px;
        height: 32px;
        position: relative;
        display: flex;
        cursor: pointer;
    }
}

@media screen and (max-width: 680px) {
    section.perfil .perfil-texto {
        width: 60%; 
        padding: 0 15px;
    }

    section.perfil .perfil-texto p {
        color: #4b4b4b;
        font-size: 12px;
        margin-top: 4px;
    }

    section.tratamentos .tratamento-container {
        width: 100%;
        text-align: center; 
    }

    section.tratamentos .tratamento-container p {
        width: 50%;
        margin: 0 auto;
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }
}

@media screen and (max-width: 580px) {
    section.tratamentos .tratamento-container p {
        width: 100%;
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }
}