@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.center {
    max-width: 800px;
    margin: 0 auto;
}

header {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 20%;
    padding-top: 7.5%;
    background-image: url("../img/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    width: 60%;
}

header nav .menu-desktop {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header nav li {
    padding: 5px;
    font-style: italic;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

section.banner {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: url("../img/bg.jpg") no-repeat;
}

