* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


.center {
    max-width: 768px;
    margin: 0 auto;
}

.logo {
    width: 128px;
    height: 64px;
    background-color: #ccc;
}

header {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    background-image: url("../img/capa.png");
    background-size: cover;
    padding: 2% 4%;
}

nav {
    flex-basis: 100%;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}

header li > a {
    color: white;
    text-decoration: none;
    margin: 2%;
}

.chamada {
    flex-basis: 35%;
    align-self: center;
    justify-self: flex-end;
    color: white;
}