* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}


.center {
    max-width: 768px;
    margin: 0 auto;
}

.logo {
    width: 128px;
    height: 64px;
    background-color: #ccc;
}

header {
    height: 600px;
    background-image: url("../img/capa.png");
    background-size: cover;
    padding: 2% 4%;
}

nav {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav > .logo {
    text-align: center;
}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

header li > a {
    color: white;
    text-decoration: none;
    margin: 2%;
}

.chamada {
    width: 45%;
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
}

.chamada > h1 {
    font-weight: normal;
    font-size: 35px;
}

.chamada > h4 {
    font-weight: normal;
}

.chamada2 {
    height: 250px;
    background-color: #472663;
}

.chamada2 .center {
    height: 250px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.chamada2 .chamada2Text {
    width: 60%;
    color: white;
}

.chamada2 .chamada2Text h1 {
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 10px;
}

.chamada2 .chamada2Text ul {
    list-style-position: inside;
}

.chamada2 input[type="button"] {
    border: 0;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: #ff703e;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
}

.chamada2img {
    width: 40%;
    height: 100%;
}

.chamada2img .deviceImg {
    width: 140%;
    height: 120%;
    position: relative;
    left: -40%;
    top: -20%;
    background-image: url("../img/device.png");
    background-size: cover;
}