* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}


.center {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 180px;
    height: 35px;
    background-image: url("../img/logo-danki.png");
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    height: 600px;
    background-image: url("../img/capa.png");
    background-size: cover;
    padding: 2% 4%;
}

.menu-desktop {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.menu-desktop > ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

header li > a {
    color: white;
    text-decoration: none;
    margin: 2%;
    font-size: 20px;
}

.menu-mobile {
    display: none;
}

.chamada {
    width: 45%;
    position: relative;
    left: 30%;
    top: 30%;
    color: white;
}

.chamada > h1 {
    font-weight: 300;
    font-size: 40px;
}

.chamada > h4 {
    font-weight: 300;
    font-size: 14px;
}

.chamada2 {
    height: 350px;
    background-color: #472663;
}

.chamada2 .center {
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.chamada2 .chamada2Text {
    margin: 1%;
    width: 60%;
    color: white;
}

.chamada2 .chamada2Text h1 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 20px;
}

.chamada2 p {
    font-size: 14px;
}

.chamada2 .chamada2Text ul {
    list-style-position: inside;
    margin-top: 10px;
    font-size: 14px;
}

.chamada2 input[type="button"] {
    border: 0;
    width: 150px;
    height: 38px;
    text-align: center;
    background-color: #ff703e;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
}

.chamada2img {
    width: 40%;
    height: 100%;
}

.chamada2img .deviceImg {
    width: 140%;
    height: 120%;
    position: relative;
    left: -40%;
    top: -20%;
    background-image: url("../img/device.png");
    background-size: cover;
}

section.chamada3 {
    width: 100%;
    height: 600px;
    text-align: center;
    color: #472663;
}

section.chamada3 h1 {
    font-weight: 300;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
}

section.chamada3 p {
    font-size: 14px;
}

section.chamada3 .chamada3mockup {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 100px;
    width: 90%;
    height: 600px;
    background-image: url("../img/mockup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section.nossoTime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

section.nossoTime .nossoTimeDesc {
    padding: 5% 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    width: 50%;
    height: 100%;
    background-color: #835fa8;
}

.nossoTimeText {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%;
    height: 40%;
}

section.nossoTime h1 {
    order: 0;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
}

section.nossoTime .nossoTimePessoas {
    padding: 5% 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: #f4f8fb;
}

section.nossoTime p {
    order: 3;
    margin-top: 10px;
}

section.nossoTime h4 {
    order: 2;
}

section.nossoTime .desenvImg {
    position: relative;
    top: 10%;
    left: 10%;
    order: 1;
    flex-basis: 50px;
    height: 50px;
    background-image: url("../img/actor1.png");
    background-size: contain;
    border-radius: 50px;
}

section.nossoTime .slider-bullets {
    height: 14px;
    padding: 10px 0;
}

section.nossoTime .slider-bullets span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ccc;
    cursor: pointer;
}

section.contato {
    padding: 2%;
    width: 100%;
    height: 600px;
    background-color: #472663;
}

section.contato .center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

section.contato .contato {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 85%;
    width: 60%;
    color: white;
}

section.contato h1 {
    font-weight: 300;
    font-size: 40px;
}

section.contato .contato input {
    width: 70%;
    height: 40px;    
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

section.contato .contato textarea {
    padding: 10px;
    width: 70%;
    resize: none;
    font-size: 14px;
    margin-top: 10px;
}

section.contato .contato input[type="button"] {
    border: 0;
    width: 100px;
    height: 38px;
    text-align: center;
    background-color: #ff703e;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

section.contato .contato p {
    width: 70%;
    padding: 20px 0;
}

section.contato .visita {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    color: white;
    width: 40%;
    height: 85%;
}

section.contato h1 {
    font-weight: 300;
    font-size: 40px;
}
 
section.contato .visita .mapa {
    margin-top: 10px;
    width: 100%;
    padding-top: 100%;
}

footer {
    padding: 2%;
    width: 100%;
    height: fit-content;
    background-color: #1a2124;
}

footer .flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

@media screen and (max-width: 800px) {
    .chamada {
        width: 90%;
        position: static;
        margin-top: 20%;
        text-align: center;
    }

    .chamada2 {
        width: 100%;
    }
    
    .chamada2 .chamada2Text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .chamada2 h1 {
        text-align: center;
    }

    .chamada2img {
        display: none;
    }

    .chamada2 .chamada2Text ul {
        list-style-position: outside;
        padding-left: 50px;
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    section.chamada3 {
        height: auto;
        padding: 5%;
    }

    section.chamada3 h1 {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .chamada3mockup {
        display: none;
    }

    section.nossoTime {
        height: 250px;
    }

    .nossoTimeText {
        padding: 2%;
        width: 100%;
        height: 100%;
    }

    section.contato {
        height: auto;
    }

    section.contato .center {
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    section.contato .contato {
        text-align: center;
        flex-flow: column wrap;
        align-items: center;
        height: auto;
        width: 100%;
        color: white;
        padding: 5% 0;
    }

    section.contato .visita {
        align-items: center;
        border-top: 1px solid white;
        padding: 5% 0;
        width: 100%;
        height: auto;
}

@media screen and (max-width: 580px) {
    .menu-desktop > ul{
        display: none;
    }

    .menu-mobile {
        cursor: pointer;
        display: inline-block;
        background-image: url("../img/menu.png");
        width: 32px;
        height: 32px;
        list-style-type: none;
        padding: 0;
        background-repeat: no-repeat;
    }

    .menu-mobile ul {
        cursor: initial;
        padding: 1%;
        width: 100%;
        position: absolute;
        background-color: white;
        left: 0;
        top: 45px;
        text-align: center;
        transition: 1s;
        opacity: 0;
    }

    nav.menu-mobile:hover ul {
        opacity: 1;
    }

    .menu-mobile li:hover {
        background-color: #1a2124;
    }

    .menu-mobile li:hover a {
        color: white;
    }

    .menu-mobile li {
        transition: 0.4s;
        border-bottom: 1px solid black;
    }

    header li > a {
        transition: 0.4s;
        color: black;
        text-decoration: none;
    }

    section.nossoTime {
        height: auto;
    }

    section.nossoTime .nossoTimeDesc {
        width: 100%;
        height: auto;
    }

    .nossoTimeText {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    section.nossoTime .nossoTimePessoas {
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    section.nossoTime .nossoTimePessoas h1 {
        width: 100%;
        order: 1;
    }

    section.nossoTime .desenvImg {
        order: 0;
        position: relative;
        top: 0;
        left: 0%;
        width: 50%;
        height: 50px;
    }

    section.nossoTime .slider-bullets {
        padding: 0;
    }

    section.contato {
        height: auto;
    }

    section.contato .center {
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    section.contato .contato {
        text-align: center;
        flex-flow: column wrap;
        align-items: center;
        height: auto;
        width: 100%;
        color: white;
        padding: 5% 0;
    }

    section.contato .visita {
        align-items: center;
        border-top: 1px solid white;
        padding: 5% 0;
        width: 100%;
        height: auto;
    }
}